node_modules

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain-types

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

# Environment variables
.env

# Coverage reports
coverage
coverage.json

# Hardhat VSCode extension
.hardhat_vscode
